<% include ./partials/header %> 

<div class="home">
    <center>
        <h2>VoteReady</h2>
        <h4>Best poll voting site</h4>
        <a class="btn btn-info" href="/polls">View polls</a>
        <a class="btn btn-success" href="/polls/new">Add poll</a>
    </center>
</div>



<% include ./partials/footer %> 